__pycache__/
*.pyc
.env
.env.compose
env/
venv/
db.sqlite3
media/
.vscode
.output
.idea
static_cdn/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule
celerybeat.pid
logs
.DS_Store